/* ImageUploadForm.css */

/* Default styles for larger screens */
.image-upload-form {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .image-upload-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input-container input[type="file"] {
    display: none;
  }
  
  .custom-file-input-label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .custom-file-input-label:hover {
    background-color: #0056b3;
  }
  
  .result-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .result-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
    /* ImageUploadForm.css */
.selected-image {
    max-width: 300px; /* Set the maximum width */
    max-height: 300px; /* Set the maximum height */
    width: auto; /* Allow the width to adjust while maintaining aspect ratio */
    height: auto; /* Allow the height to adjust while maintaining aspect ratio */
  }
  pre {
    white-space: pre-wrap;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .image-upload-form {
      margin: 10px;
    }
  
    .image-upload-form h2 {
      font-size: 20px;
    }
  
    .custom-file-input-label {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .result-container {
      margin: 10px;
      padding: 10px;
    }
  
    .result-container h3 {
      font-size: 18px;
    }
  }
  
  /* Add more media queries and styles as needed for specific screen sizes */
  